Repository H2OKing89/mk_torrent, changes with the labels that .github/labeler.yml gives for each.
All labels: type/feature, type/refactor, type/tests, type/docs, type/ci, area/metadata, area/trackers, area/qbittorrent, area/utils, area/cli

refactor: metadata core cleanup and architectural optimization
  docs/core/metadata/03 — Proposed Directory Layout.md
  docs/core/metadata/CHANGELOG.md
  docs/core/metadata/_IMPLEMENTATION_PROGRESS.md
  docs/core/metadata/__Metadata Core.md
  examples/demo_field_merger.py
  examples/package_integration_demo.py
  src/mk_torrent/core/metadata/models/__init__.py
  src/mk_torrent/core/metadata/models/audnexus.py
  src/mk_torrent/core/metadata/schemas/__init__.py
  src/mk_torrent/core/metadata/schemas/audiobook.py
  src/mk_torrent/core/metadata/services/format_detector.py
  src/mk_torrent/core/metadata/services/image_finder.py
  src/mk_torrent/core/metadata/services/merge.py
  src/mk_torrent/core/metadata/sources/audnexus.py
  tests/conftest.py
  tests/test_real_data_comprehensive.py
  tests/unit/core/metadata/services/__init__.py
  tests/unit/core/metadata/services/test_merge.py
  tests/utils/__init__.py
  tests/utils/real_data_helpers.py
Labels: type/feature, type/refactor, type/tests, type/docs, area/metadata, area/utils

fix: remove black formatter to resolve ruff-format conflict
  .pre-commit-config.yaml
Labels: type/ci

chore(ci): implement enterprise workflow finishing kit
  .bandit.yml
  .pre-commit-config.yaml
  .release-please-manifest.json
  release-please-config.json
  tests/conftest.py
  tests/test_real_data_comprehensive.py
  tests/unit/core/metadata/services/test_merge.py
Labels: type/tests, type/ci, area/metadata

chore: add personal learning files to gitignore
  .gitignore
Labels: none

fix: import real_three_source_metadata for data fixture usage
  tests/conftest.py
Labels: type/tests

Completes audiobook metadata merger implementation and refactors architecture
  docs/core/metadata/03 — Proposed Directory Layout.md
  docs/core/metadata/07 — Services Details.md
  docs/core/metadata/07.5 — Audiobook Metadata Field Merger.md
  docs/core/metadata/12 — Migration Plan.md
  docs/core/metadata/16 — Next Steps.md
  docs/core/metadata/CHANGELOG.md
  docs/core/metadata/README.md
  docs/core/metadata/_IMPLEMENTATION_PROGRESS.md
  docs/core/metadata/__Metadata Core.md
  docs/reference/PROJECT_STRUCTURE.md
  examples/demo_field_merger.py
  examples/integration_tests/README.md
  examples/integration_tests/test_audiobook_processor.py
  examples/integration_tests/test_audnexus_integration.py
  src/mk_torrent/core/metadata/processors/audiobook.py
  src/mk_torrent/core/metadata/services/__init__.py
  src/mk_torrent/core/metadata/services/merge_audiobook.py
  tests/test_real_data_comprehensive.py
  tests/unit/core/metadata/services/test_merge_audiobook.py
Labels: type/feature, type/refactor, type/tests, type/docs, area/metadata

Enhances audiobook tests with rich output, caching, and similarity scoring
  examples/integration_tests/test_audiobook_processor.py
  src/mk_torrent/core/metadata/services/merge_audiobook.py
  src/mk_torrent/core/metadata/sources/audnexus.py
Labels: type/feature, type/refactor, type/tests, area/metadata

feat: enhance audiobook processor tests with dynamic sample file detection and improved error handling feat: add bitrate analysis and chapter extraction enhancements to embedded metadata processing
  docs/core/metadata/07.5 — Audiobook Metadata Field Merger.md
  docs/core/metadata/07.6 — Embedded Source (Technical Focus).md
  docs/core/metadata/CHANGELOG.md
  docs/core/metadata/_IMPLEMENTATION_PROGRESS.md
  docs/core/metadata/__Metadata Core.md
  examples/integration_tests/test_audiobook_processor.py
  src/mk_torrent/core/metadata/base.py
  src/mk_torrent/core/metadata/engine.py
  src/mk_torrent/core/metadata/entities.py
  src/mk_torrent/core/metadata/exceptions.py
  src/mk_torrent/core/metadata/processors/audiobook.py
  src/mk_torrent/core/metadata/services/format_detector.py
  src/mk_torrent/core/metadata/services/html_cleaner.py
  src/mk_torrent/core/metadata/services/merge_audiobook.py
  src/mk_torrent/core/metadata/services/tag_normalizer.py
  src/mk_torrent/core/metadata/sources/audnexus.py
  src/mk_torrent/core/metadata/sources/embedded.py
  src/mk_torrent/core/metadata/sources/pathinfo.py
Labels: type/feature, type/refactor, type/tests, type/docs, area/metadata

Updates type annotations for compatibility
  src/mk_torrent/core/metadata/base.py
  src/mk_torrent/core/metadata/engine.py
  src/mk_torrent/core/metadata/validators/audiobook_validator.py
  src/mk_torrent/core/metadata/validators/common.py
  tests/unit/core/metadata/services/test_merge_audiobook.py
  tests/unit/core/metadata/sources/test_embedded_source_real.py
  tests/unit/core/metadata/sources/test_three_source_integration.py
Labels: type/feature, type/refactor, type/tests, area/metadata

Updates type annotations to modern Python syntax
  .pre-commit-config.yaml
  src/mk_torrent/core/compliance/path_fixer.py
Labels: type/feature, type/refactor, type/ci

Adds audiobook-focused tag normalization service
  src/mk_torrent/core/metadata/services/tag_normalizer.py
  test_tag_normalizer.py
  tests/test_metadata_engine.py
Labels: type/feature, type/refactor, type/tests, area/metadata

Enhances type checking and code robustness
  pyrightconfig.json
  src/mk_torrent/core/metadata/services/tag_normalizer.py
  tests/test_metadata_engine.py
Labels: type/feature, type/refactor, type/tests, area/metadata

feat: update Python version to 3.11 and enhance diagnostic severity settings
  pyrightconfig.json
Labels: none

Improves type safety in audio format detection
  src/mk_torrent/core/metadata/services/format_detector.py
Labels: type/feature, type/refactor, area/metadata

Adds type annotations and enhances type safety
  src/mk_torrent/core/metadata/processors/audiobook.py
  src/mk_torrent/core/metadata/services/merge_audiobook.py
  src/mk_torrent/core/metadata/services/tag_normalizer.py
  src/mk_torrent/core/metadata/sources/audnexus.py
  src/mk_torrent/core/metadata/sources/embedded.py
  src/mk_torrent/core/metadata/sources/pathinfo.py
Labels: type/feature, type/refactor, area/metadata

Adds type annotations for enhanced static analysis
  src/mk_torrent/core/compliance/path_fixer.py
  src/mk_torrent/core/compliance/path_validator.py
  src/mk_torrent/core/metadata/validators/audiobook_validator.py
Labels: type/feature, type/refactor, area/metadata

Adds code ownership configuration
  CODEOWNERS
Labels: none

Integrates TagNormalizer into audiobook processor pipeline
  docs/core/metadata/_IMPLEMENTATION_PROGRESS.md
  src/mk_torrent/core/metadata/engine.py
  src/mk_torrent/core/metadata/processors/audiobook.py
  src/mk_torrent/core/metadata/services/tag_normalizer.py
  tests/integration/test_engine_audiobook_e2e.py
Labels: type/feature, type/refactor, type/tests, type/docs, area/metadata

feat: Implement BBCode template system for RED tracker uploads
  CONTRIBUTING.md
  PROJECT_STATUS.md
  README.md
  docs/core/metadata/00 — Recommended Packages & Project Extras.md
  docs/core/metadata/9.5 — Template System.md
  docs/core/metadata/_IMPLEMENTATION_PROGRESS.md
  docs/core/metadata/__Metadata Core.md
  pyproject.toml
  requirements.txt
  src/mk_torrent/core/metadata/mappers/red.py
  src/mk_torrent/core/metadata/templates/__init__.py
  src/mk_torrent/core/metadata/templates/models.py
  src/mk_torrent/core/metadata/templates/renderer.py
  src/mk_torrent/core/metadata/templates/templates/bbcode_desc.jinja
  src/mk_torrent/core/metadata/templates/templates/bbcode_release_desc.jinja
  test_template_integration.py
Labels: type/feature, type/refactor, type/tests, type/docs, type/ci, area/metadata

feat: Add torrent_files directory to .gitignore
  .gitignore
Labels: none

Add RED tracker adapter and refactor upload system
  requirements.txt
  src/mk_torrent/core/metadata/templates/renderer.py
  src/mk_torrent/core/upload/__init__.py
  src/mk_torrent/core/upload/spec.py
  src/mk_torrent/features/check_metadata_health.py
  src/mk_torrent/features/check_metadata_health_simple.py
  src/mk_torrent/features/metadata_engine.py
  src/mk_torrent/trackers/red_adapter.py
  src/mk_torrent/trackers/upload_spec.py
  tests/integration/test_red_pipeline.py
  tests/test_metadata_engine.py
Labels: type/feature, type/refactor, type/tests, type/ci, area/metadata

Enhances RED tracker integration for audiobooks
  examples/integration_tests/test_audiobook_processor.py
  pyproject.toml
  requirements.txt
  run_red_test.py
  src/mk_torrent/core/metadata/mappers/red.py
  src/mk_torrent/core/metadata/sources/embedded.py
  src/mk_torrent/core/metadata/templates/renderer.py
  src/mk_torrent/core/metadata/templates/templates/bbcode_desc.jinja
  src/mk_torrent/core/metadata/templates/templates/bbcode_release_desc.jinja
  src/mk_torrent/trackers/__init__.py
  src/mk_torrent/trackers/red/__init__.py
  src/mk_torrent/trackers/red/api_client.py
  src/mk_torrent/trackers/red/upload_spec.py
  src/mk_torrent/trackers/red/upload_spec_fixed.py
  temp_disabled_tests/test_real_red_upload.py
  temp_disabled_tests/test_red_upload_clean.py
  test_bbcode_output.py
  test_bbcode_output_fixed.py
  tests/conftest.py
  tests/integration/test_red_full_pipeline.py
  tests/integration/test_red_pipeline.py
  tests/unit/core/metadata/sources/test_embedded_source_real.py
Labels: type/feature, type/refactor, type/tests, type/ci, area/metadata

Restructures test organization for better maintainability
  run_red_test.py
  scripts/red/test_complete_red_workflow.py
  scripts/red/test_real_audiobook.py
  scripts/red/test_real_audiobook_comprehensive.py
  scripts/red/test_red_end_to_end.py
  scripts/red/test_red_production.py
  scripts/red/test_red_simplified.py
  scripts/red/test_refactored_structure.py
  scripts/tools/debug_bbcode_output.py
  scripts/tools/test_runner.py
  test_bbcode_output.py
  test_tag_normalizer.py
  tests/integration/test_audiobook_complete.py
  tests/integration/test_real_audiobook.py
  tests/integration/test_real_audiobook_paths.py
  tests/integration/test_red_end_to_end.py
  tests/integration/test_template_integration.py
  tests/test_secure.py
Labels: type/feature, type/tests

Refactors RED test suite for CI readiness and improved reliability
  docs/TEST_REFACTORING_SUMMARY.md
  pytest.ini
  scripts/run_legacy.py
  scripts/tools/refactor_red_modules.py
  scripts/tools/test_mutagen_m4b.py
  scripts/tools/test_red_upload.py
  scripts/tools/test_runner.py
  src/mk_torrent/core/metadata/templates/models.py
  temp_disabled_tests/test_real_red_upload.py
  tests/integration/test_audiobook_complete.py
  tests/integration/test_real_audiobook.py
  tests/integration/test_real_audiobook_paths.py
  tests/integration/test_red_api.py
  tests/integration/test_red_audiobooks.py
  tests/integration/test_red_end_to_end.py
  tests/integration/test_red_full_pipeline.py
  tests/integration/test_red_pipeline.py
  tests/integration/test_template_integration.py
Labels: type/feature, type/refactor, type/tests, type/docs, area/metadata

Renames integration tests and adds documentation
  examples/audiobook_workflow.py
  tests/integration/test_metadata_engine.py
  tests/integration/test_red_integration.py
  tests/readme.md
Labels: type/feature, type/tests

Enhances audiobook metadata integration demo
  examples/demo_future_enhancement.py
  examples/integration_tests/audiobook_metadata_integration_demo.py
  examples/integration_tests/readme.md
  examples/real_sample_demo.py
Labels: type/feature

Removes demo and example files
  examples/audiobook_upload_workflow.py
  examples/demo_field_merger.py
  examples/metadata_core_demo.py
  examples/package_integration_demo.py
  examples/validation_demo.py
Labels: type/feature

Apply ruff-format changes to red_upload_cli.py
  scripts/cli/red_upload_cli.py
  src/mk_torrent/api/trackers/red.py
  src/mk_torrent/trackers/red/upload_spec.py
  src/mk_torrent/trackers/red/upload_spec_fixed.py
  tests/integration/test_bbcode_output.py
  tests/integration/test_red_integration.py
  tests/integration/test_red_upload.py
Labels: type/feature, type/refactor, type/tests, area/trackers

Enhances metadata system by introducing technical field container and usage warnings
  .codespellrc
  cspell.json
  docs/BBCode_Templates_Demo_Results.md
  docs/FIELD_USAGE_WARNINGS_SUMMARY.md
  examples/integration_tests/audiobook_metadata_integration_demo.py
  scripts/debug_metadata.py
  scripts/demo_bbcode_templates.py
  src/mk_torrent/core/metadata/base.py
  src/mk_torrent/core/metadata/engine.py
  src/mk_torrent/core/metadata/mappers/red.py
  src/mk_torrent/core/metadata/processors/audiobook.py
  src/mk_torrent/core/metadata/processors/music.py
  src/mk_torrent/core/metadata/processors/video.py
  src/mk_torrent/core/metadata/services/merge_audiobook.py
  src/mk_torrent/core/metadata/sources/audnexus.py
  src/mk_torrent/core/metadata/sources/embedded.py
  src/mk_torrent/core/metadata/sources/pathinfo.py
Labels: type/feature, type/refactor, type/docs, area/metadata

Optimizes JSON parsing and cleans up imports
  docs/core/metadata/09.5-template-system.md
  src/mk_torrent/core/metadata/services/html_cleaner.py
  src/mk_torrent/core/metadata/sources/audnexus.py
Labels: type/feature, type/refactor, type/docs, area/metadata

Refactor type hints and add type ignores for compatibility in metadata classes and validation functions
  src/mk_torrent/core/metadata/entities.py
  src/mk_torrent/core/metadata/services/format_detector.py
  src/mk_torrent/core/metadata/services/tag_normalizer.py
  src/mk_torrent/core/metadata/validators/common.py
Labels: type/feature, type/refactor, area/metadata

Update src/mk_torrent/core/metadata/validators/common.py
  src/mk_torrent/core/metadata/validators/common.py
Labels: type/feature, type/refactor, area/metadata

Update src/mk_torrent/core/metadata/entities.py
  src/mk_torrent/core/metadata/entities.py
Labels: type/feature, type/refactor, area/metadata

Update src/mk_torrent/core/metadata/entities.py
  src/mk_torrent/core/metadata/entities.py
Labels: type/feature, type/refactor, area/metadata

Update src/mk_torrent/core/metadata/entities.py
  src/mk_torrent/core/metadata/entities.py
Labels: type/feature, type/refactor, area/metadata

Update src/mk_torrent/core/metadata/entities.py
  src/mk_torrent/core/metadata/entities.py
Labels: type/feature, type/refactor, area/metadata

.github/labeler.yml:

# Auto-labeling rules for PRs
# Helps organize PRs by type and area for better project management

# Type-based labels
type/feature:
  - "src/**"
  - "examples/**"
  - "scripts/**"

type/refactor:
  - "src/mk_torrent/core/**"
  - changed-files:
    - any-glob-to-any-file: ["src/**"]

type/tests:
  - "tests/**"
  - "**/test_*.py"
  - "test_*.py"

type/docs:
  - "docs/**"
  - "*.md"
  - "README*"

type/ci:
  - ".github/**"
  - ".pre-commit-config.yaml"
  - "pyproject.toml"
  - "requirements*.txt"

# Area-based labels (specific to your project structure)
area/metadata:
  - "src/mk_torrent/core/metadata/**"
  - "tests/**/metadata/**"
  - "docs/core/metadata/**"

area/trackers:
  - "src/mk_torrent/api/trackers/**"
  - "src/mk_torrent/api/red/**"
  - "tests/**/trackers/**"
  - "tests/**/red/**"

area/qbittorrent:
  - "src/mk_torrent/api/qbittorrent/**"
  - "tests/**/qbittorrent/**"

area/utils:
  - "src/mk_torrent/utils/**"
  - "tests/**/utils/**"

area/cli:
  - "src/mk_torrent/cli/**"
  - "tests/**/cli/**"

# Size indicators (helpful for reviewers)
size/XS:
  - changed-files:
    - any-glob-to-any-file: "*"
    - count: "1..5"

size/S:
  - changed-files:
    - any-glob-to-any-file: "*"
    - count: "6..15"

size/M:
  - changed-files:
    - any-glob-to-any-file: "*"
    - count: "16..30"

size/L:
  - changed-files:
    - any-glob-to-any-file: "*"
    - count: "31..60"

size/XL:
  - changed-files:
    - any-glob-to-any-file: "*"
    - count: "61..*"
