Repository H2OKing89/mk_torrent, changes with the labels that .github/labeler.yml gives for each.
All labels: type/feature, type/refactor, type/tests, type/docs, type/ci, area/metadata, area/trackers, area/qbittorrent, area/utils, area/cli

Introduces production-grade exception system documentation
  docs/core/metadata/00.0-recommended-packages-project-extras.md
  docs/core/metadata/08-production-grade-exceptions.md
  docs/core/metadata/09-validators.md
  docs/core/metadata/10-tracker-mapping.md
  docs/core/metadata/10.5-template-system.md
  docs/core/metadata/11-configuration.md
  docs/core/metadata/12-testing-strategy.md
  docs/core/metadata/13-migration-plan.md
  docs/core/metadata/14-error-handling-logging.md
  docs/core/metadata/15-example-processor-skeleton.md
  docs/core/metadata/16-extension-guide.md
  docs/core/metadata/17-next-steps.md
  docs/core/metadata/metadata-core.md
Labels: type/docs, area/metadata

Enhances metadata exception system for production use
  scripts/test_exceptions.py
  src/mk_torrent/core/metadata/exceptions.py
  src/mk_torrent/core/metadata/sources/audnexus.py
Labels: type/feature, type/refactor, type/tests, area/metadata

Reorganizes test suite and enhances exception testing
  .cspell/project-terms.txt
  docs/core/metadata/exception-testing-guide.md
  docs/core/metadata/test-reorganization-plan.md
  tests/unit/__init__.py
  tests/unit/api/__init__.py
  tests/unit/api/test_qbittorrent.py
  tests/unit/core/__init__.py
  tests/unit/core/metadata/exceptions/__init__.py
  tests/unit/core/metadata/exceptions/test_exceptions.py
  tests/unit/core/metadata/sources/test_embedded_source_real.py
  tests/unit/core/metadata/sources/test_three_source_integration.py
  tests/unit/core/test_secure_credentials.py
  tests/unit/core/test_upload_queue.py
  tests/unit/test_real_data_comprehensive.py
Labels: type/tests, type/docs, area/metadata

Enhance RED tracker integration and configuration management
  CLEANUP_PLAN.md
  PROJECT_STATUS.md
  src/mk_torrent/api/trackers/red.py
  src/mk_torrent/config.py
  src/mk_torrent/workflows/upload_integration.py
Labels: type/feature, type/refactor, type/docs, area/trackers

Add comprehensive repository cleanup plan
  CLEANUP_PLAN.md
Labels: type/docs

✅ Complete Phase 0: Safety Net
  CLEANUP_PLAN.md
Labels: type/docs

Fix markdownlint MD010 errors: replace hard tabs with spaces
  OBSERVABILITY_CICD_PACK.md
Labels: type/docs

Refactor RED tracker API integration: improve debugging output and metadata handling
  src/mk_torrent/api/trackers/red.py
Labels: type/feature, type/refactor, area/trackers

✅ Complete Phase 1: Evidence Gathering
  CLEANUP_PLAN.md
Labels: type/docs

Add migration documentation and standardize external IO client structure
  MIGRATIONS.md
  docs/adr/0001-integrations-vs-api.md
  src/mk_torrent/core/upload/spec.py
Labels: type/feature, type/refactor, type/docs

✅ Complete Phase 2: Canonical Layout Decisions
  CLEANUP_PLAN.md
  src/mk_torrent/api/qbittorrent.py
  src/mk_torrent/api/trackers/__init__.py
  src/mk_torrent/api/trackers/base.py
  src/mk_torrent/api/trackers/mam.py
  src/mk_torrent/api/trackers/red.py
  src/mk_torrent/core/upload/__init__.py
  src/mk_torrent/integrations/qbittorrent.py
  src/mk_torrent/trackers/base.py
  src/mk_torrent/trackers/mam/adapter.py
  src/mk_torrent/trackers/red/adapter.py
Labels: type/feature, type/refactor, type/docs, area/trackers

📋 Document Phase 3: Systematic Execution Plan
  CLEANUP_PLAN.md
  Phase3A-tracker-audit.md
Labels: type/docs

🔧 Post-commit formatting fixes (ruff-format)
  CLEANUP_PLAN.md
  MIGRATIONS.md
  Phase3A-tracker-audit.md
  src/mk_torrent/core/upload/spec.py
  src/mk_torrent/trackers/red/upload_spec.py
  src/mk_torrent/trackers/red_adapter.py
  src/mk_torrent/trackers/upload_spec.py
Labels: type/feature, type/refactor, type/docs

🔧 Post-commit formatting fixes (ruff-format)
  src/mk_torrent/trackers/red/adapter.py
  src/mk_torrent/trackers/red_adapter.py
Labels: type/feature, type/refactor

🔧 Post-commit fixes (ruff, pyupgrade)
  src/mk_torrent/trackers/factory.py
  src/mk_torrent/trackers/mam/adapter.py
Labels: type/feature, type/refactor

🔧 Fix trailing whitespace in MIGRATIONS.md
  MIGRATIONS.md
Labels: type/docs

Fix linting issues in integration files
  MIGRATIONS.md
  src/mk_torrent/core/metadata/sources/audnexus.py
  src/mk_torrent/integrations/__init__.py
  src/mk_torrent/integrations/audnexus_api.py
  src/mk_torrent/integrations/audnexus_backup.py
  src/mk_torrent/integrations/audnexus_client.py
  src/mk_torrent/integrations/audnexus_types_backup.py
  src/mk_torrent/integrations/base.py
  src/mk_torrent/integrations/qbittorrent_modern.py
  src/mk_torrent/integrations/upload_workflow_modern.py
  src/mk_torrent/integrations/workflows.py
Labels: type/feature, type/refactor, type/docs, area/metadata

Add nosec comments to suppress bandit warnings for test passwords
  INTEGRATION_LANDSCAPE_ANALYSIS.md
  docs/active/integration-factory-enhancement-complete.md
  docs/active/phase-3b3-4-authentication-implementation-summary.md
  examples/integration_tests/audiobook_metadata_integration_demo.py
  module_cleanup_analysis.md
  scripts/cli/red_upload_cli.py
  src/mk_torrent/api/trackers/__init__.py
  src/mk_torrent/api/trackers/base.py
  src/mk_torrent/api/trackers/mam.py
  src/mk_torrent/api/trackers/red.py
  src/mk_torrent/config.py
  src/mk_torrent/integrations/__init__.py
  src/mk_torrent/integrations/audnexus_api.py
  src/mk_torrent/integrations/audnexus_backup.py
  src/mk_torrent/integrations/audnexus_client.py
  src/mk_torrent/integrations/audnexus_types.py
  src/mk_torrent/integrations/audnexus_types_backup.py
  src/mk_torrent/integrations/auth.py
  src/mk_torrent/integrations/factory.py
  src/mk_torrent/integrations/qbittorrent_legacy.py
  src/mk_torrent/integrations/qbittorrent_modern.py
  src/mk_torrent/integrations/red_integration.py
  src/mk_torrent/integrations/upload_workflow_modern.py
  src/mk_torrent/trackers/base.py
  src/mk_torrent/trackers/red/adapter.py
  src/mk_torrent/workflows/upload_integration.py
  test_auth_integration.py
  tests/conftest.py
  tests/integration/test_red_api.py
  tests/integration/test_red_integration.py
Labels: type/feature, type/refactor, type/tests, type/docs, area/trackers

.github/labeler.yml:

# Auto-labeling rules for PRs
# Helps organize PRs by type and area for better project management

# Type-based labels
type/feature:
  - changed-files:
    - any-glob-to-any-file: ["src/**", "examples/**", "scripts/**"]

type/refactor:
  - changed-files:
    - any-glob-to-any-file: ["src/mk_torrent/core/**", "src/**"]

type/tests:
  - changed-files:
    - any-glob-to-any-file: ["tests/**", "**/test_*.py", "test_*.py"]

type/docs:
  - changed-files:
    - any-glob-to-any-file: ["docs/**", "*.md", "README*"]

type/ci:
  - changed-files:
    - any-glob-to-any-file: [".github/**", ".pre-commit-config.yaml", "pyproject.toml", "requirements*.txt"]

# Area-based labels (specific to your project structure)
area/metadata:
  - changed-files:
    - any-glob-to-any-file: ["src/mk_torrent/core/metadata/**", "tests/**/metadata/**", "docs/core/metadata/**"]

area/trackers:
  - changed-files:
    - any-glob-to-any-file: ["src/mk_torrent/api/trackers/**", "src/mk_torrent/api/red/**", "tests/**/trackers/**", "tests/**/red/**"]

area/qbittorrent:
  - changed-files:
    - any-glob-to-any-file: ["src/mk_torrent/api/qbittorrent/**", "tests/**/qbittorrent/**"]

area/utils:
  - changed-files:
    - any-glob-to-any-file: ["src/mk_torrent/utils/**", "tests/**/utils/**"]

area/cli:
  - changed-files:
    - any-glob-to-any-file: ["src/mk_torrent/cli/**", "tests/**/cli/**"]

# Size indicators (helpful for reviewers)
size/XS:
  - changed-files:
    - any-glob-to-any-file: "*"
    - count: "1..5"

size/S:
  - changed-files:
    - any-glob-to-any-file: "*"
    - count: "6..15"

size/M:
  - changed-files:
    - any-glob-to-any-file: "*"
    - count: "16..30"

size/L:
  - changed-files:
    - any-glob-to-any-file: "*"
    - count: "31..60"

size/XL:
  - changed-files:
    - any-glob-to-any-file: "*"
    - count: "61..*"
